

.total {
  display: flex;
  margin-top: 15%;
  text-align: center;
  justify-content: center;
}

.day {
  justify-content: center;
  padding-right: 2vw;
  border: 1px solid black;
  padding-right: 2%;
  padding-left: 2%;

}

.temp {
  margin-right: 2vw;
}

h1 {
  font-size: 4vh;
  color: #5a6eff;
}

img {
  height: 10vh;
  margin-bottom: 4vh;
  padding-right: 2%;
}